*.ilk
*.pdb
*.exe
*.dll
*.user*
MakeFile*
mnist/
QCustomPlot/
other/
picture/
temp/
sqlite*/
build/

build 32 bits/*
!build 32 bits/folder.keep


build 64 bits/*
!build 64 bits/folder.keep

debug/
release/
